@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight:wght@400;800&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT%20Sans%20Narrow:wght@400;800&family=Roboto:wght@300;400;500&display=swap');

$font-primary: 'PT Sans Narrow', normal;
$font-secondary: 'Roboto', sans-serif;
$font-limelight: 'Limelight', normal;
