.window-app {
  font-family: $font-primary;
  font-size: 12pt;
}

.roll-icon{
  max-width:23px;
  max-height:23px;
  border: 0px;
  margin-left:5px;
  &:hover,
  &:focus{
    cursor:pointer;
    color: #000;
    filter: opacity(25%);
  }
}

.window-content{
  background: url("../images/paper.png") !important;
}
